body {
    background-color: #54ff8d;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: hsl(0, 0%, 100%);
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}